<html>
  <head>
    <title><%= title_for 'Empty Links' %></title>
  </head>

  <body>
    <p>Empty links.</p>

    <ul>
      <li>
        <a>should not follow links with no href attributes</a>
      </li>

      <li>
        <a href="">should not follow links with empty href attributes</a>
      </li>

      <li>
        <a href=" ">should ignore links with blank href attributes</a>
      </li>
    </ul>
  </body>
</html>
