<html>
  <head>
    <title><%= title_for 'Frames' %></title>
  </head>

  <body>
    <p>iframe contents</p>

    <ul>
      <li class="follow">
        <a href="iframe_contents.html">should follow links within iframes</a>
      </li>
    </ul>
  </body>
</html>
