<h2>FAIL!</h2>

<p>
The Web Spider attempted requesting a page that was outside of the
Obstacle Course.
</p>

<% if request.referer %>
<p>Requested URL:<p>
<pre><%=h request.referer %></pre>
<% end %>
