<html>
  <head>
    <title><%= title_for 'Cookies' %></title>
  </head>

  <body>
    <p>Cookies</p>

    <ul>
      <li><a href="get.html">should save cookies returned from a GET request</a></li>
    </ul>
  </body>
</html>
