<html>
  <head>
    <title><%= title_for 'Remote Links' %></title>
  </head>

  <body>
    <p>Remote links.</p>

    <ul>
      <li>
        <a href="<%= remote_url '/course/remote/start.html' %>">should not follow remote links to the same page</a>
      </li>

      <li>
        <a href="<%= remote_url '/course/loop/../remote/start.html' %>">should not follow remote links with a relative path to the same page</a>
      </li>

      <li>
        <a href="<%= remote_url '/course/remote/next.html' %>">should follow remote links to unvisited pages</a>
      </li>

      <li>
        <a href="http://spidr.rubyforge.org:1337/course/remote/fail.html">should ignore links that fail</a>
      </li>

      <li>
        <a href="http://not.found/course/remote/fail.html">should ignore links that fail</a>
      </li>
    </ul>
  </body>
</html>
