<html>
  <head>
    <title><%= title_for 'Infinite Looping Links' %></title>
  </head>

  <body>
    <p>Behold! The infinite looping links of doom!</p>

    <ul>
      <li>
        <a href="start.html">should not follow links pointing to the current page</a>
      </li>

      <li>
        <a href="next.html">should follow links pointing to other pages</a>
      </li>
    </ul>
  </body>
</html>
