<html>
  <head>
    <title><%= title_for 'Cookies', 'GET requests' %></title>
  </head>

  <body>
    <% if @authed %>
    <p>
      <a href="protected.html">protected content</a>
    </p>
    <% end %>
  </body>
</html>
