<html>
  <head>
    <title><%= title_for 'HTTP Redirects' %></title>
  </head>

  <body>
    <p>HTTP Redirects</p>

    <ul>
      <li><a href="300.html">HTTP 300 Redirect</a></li>
      <li><a href="301.html">HTTP 301 Redirect</a></li>
      <li><a href="302.html">HTTP 302 Redirect</a></li>
      <li><a href="303.html">HTTP 303 Redirect</a></li>
      <li><a href="307.html">HTTP 307 Redirect</a></li>
      <li><a href="meta.html">Meta Refresh "Soft" Redirect</a></li>
    </ul>
  </body>
</html>
