<html>
  <head>
    <title><%= title_for 'JavaScript Links' %></title>
  </head>

  <body>
    <p>JavaScript links.</p>

    <ul>
      <li>
        <a href="javascript:fail();">should ignore links beginning with "javascript:"</a>
      </li>

      <li>
        <a href="#" onclick="fail();">should ignore links with an onclick attribute and a href pointing to the page.</a>
      </li>
    </ul>
  </body>
</html>
