<html>
  <head>
    <title><%= title_for 'HTTP Basic Auth' %></title>
  </head>

  <body>
    <p>HTTP Basic Auth</p>

    <ul>
      <li><a href="protected.html">should traverse pages that require authentication</a></li>
    </ul>
  </body>
</html>
