<html>
  <head>
    <title><%= title_for 'Frames' %></title>
  </head>

  <body>
    <p>Frames</p>

    <iframe src="iframe.html"></iframe>

    <frameset>
      <frame src="frame.html" />
    </frameset>
  </body>
</html>
